#ip1 {
    float: right;
}
#ip2 {
    border-radius: 25px;
    border: 2px solid rgb(2, 2, 2);
    padding: 20px; 
    width: 600px;
    height: 15px;    
}
#ip3 {
    padding: 10px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 150px 0;
    text-align: center;
}
.box {
    padding: 10px;
    width: 450px;   
}
.right {
    float: right;
    width: 1300px;
    padding: 10px;
    text-align: right;
}
.right1 {
    float: right;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.left {
    float: left;
    width: auto;
    padding: 40px;

}
.box-align {
    float: right;
    
}
